.env
*.session
*.session-journal
__pycache__/
*.py[cod]
venv/
.venv/
data/raw/
*.png
*.jpg
*.jpeg
logs/*.log
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/
.vscode/*
!.vscode/settings.json
.DS_Store
yolov8n.pt